body {
    background: #728E3E;
    transition: all 2s;
    display: flex;
    justify-content: center;
    /*overflow: hidden;*/
}

.iconSound {
    width: 100px;
    height: 100px;
    overflow: hidden;
    background: url(soundOn.png) no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
}



#puzzle {
    position: absolute;
    top: 135px;
    /*left: 35%;*/
    border: 5px solid black;
    background: #728E3E;
    border-radius: 5px;
}

.timer {
    /*position: absolute;*/
    /*top: 630px;*/
    /*left: 37%;*/
    font: bold 30px Sathu, sans-serif;
    background: #406200;
    border-radius: 10px;
    width: 120px;
    height: 55px;
    text-align: center;
    padding-top: 15px;
    margin: 15px 30px 0 0;
}

.click-counter {
    font: bold 35px Sathu, sans-serif;
    text-align: center;
    border-radius: 10px;
    padding-top: 15px;
    /*position: absolute;*/
    /*top: 570px;*/
    /*left: 58%;*/
    width: 120px;
    height: 55px;
    background: #406200;
    margin: 15px 0 0 30px;
}

.btn {
    position: absolute;
    top: 570px;
    /*left: 43%;*/
    font: bold 30px Sathu, sans-serif;
    text-align: center;
    padding-top: 10px;
    width: 200px;
    height: 45px;
    cursor: pointer;
    background: gold;
    border-radius: 5px;
    z-index: 5;
}

.btnSave {
    position: absolute;
    top: 630px;
    /*left: 43%;*/
    font: bold 30px Sathu, sans-serif;
    text-align: center;
    padding-top: 10px;
    width: 200px;
    height: 45px;
    cursor: pointer;
    background: red;
    border-radius: 5px;
    z-index: 2;
}

.winBanner {
    position: absolute;
    top: 40%;
    /*left: 28%;*/
    background: bisque;
    max-width: 720px;
    padding: 30px;
    border-radius: 10px;
    font: bold 30px Arial, sans-serif;
    z-index: 5;
    transition: all 2s;
}

.active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*height: 100%;*/
    /*max-height: 1300px;*/
    z-index: 4;
    background: rgba(0,0,0,0.5);
    transition: all 2s;
}

.scoreBtn {
    position: absolute;
    top: 689px;
    /*left: 43%;*/
    font: bold 30px Sathu, sans-serif;
    text-align: center;
    padding-top: 10px;
    width: 200px;
    height: 45px;
    cursor: pointer;
    background: blueviolet;
    border-radius: 5px;
    z-index: 2;
}

.tableScore {
    position: absolute;
    top: 30px;
    width: 440px;
    height: 385px;
    background: bisque;
    border-radius: 10px;
    /*display: flex;*/
    /*justify-content: center;*/
    font: bold 25px Sathu, sans-serif;
    padding: 10px 0 0 20px;
    display: none;
    transition: all 2s;
    z-index: 10;
}

.tableScoreClose {
    background: url("1487086345-cross_81577.svg");
    background-size: contain;
    position: absolute;
    top: 10px;
    right: 15px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.resizeBtn {
    position: absolute;
    top: 752px;
    /*left: 43%;*/
    font: bold 30px Sathu, sans-serif;
    text-align: center;
    padding-top: 10px;
    width: 100px;
    height: 45px;
    cursor: pointer;
    background: #22bad5;
    border-radius: 5px;

}

.threeBtn {
    font: bold 30px Sathu, sans-serif;
    text-align: center;
    padding-top: 10px;
    width: 100px;
    height: 40px;
    cursor: pointer;
    background: coral;
    border-radius: 5px;
    z-index: 2;
}

.paneSize {
    position: absolute;
    top: 752px;
    background: #406200;
    max-width: 550px;
    min-width: 550px;
    height: 70px;
    border-radius: 5px;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 540px) {
    .btn {
        top: 520px;
    }

}

@media (max-width: 390px) {
    .btn {
        top: 415px;
    }
    .btnSave {
        top: 480px;
    }
    .scoreBtn {
        top: 543px;
    }
    .timer {
        font: bold 20px Sathu, sans-serif;
        width: 90px;
        height: 45px;
    }
    .click-counter {
        font: bold 20px Sathu, sans-serif;
        width: 90px;
        height: 45px;
    }
    .iconSound {
        width: 80px;
        height: 80px;
    }
    #puzzle {
        top: 135px;
    }
    .paneSize {
        top: 630px;
        min-width: 290px;
    }
    .threeBtn {
        width: 45px;
        height: 30px;
        font: bold 20px Sathu, sans-serif;
    }

}