body {
    background: blueviolet;
}

canvas {
    position: absolute;
    top: 50px;
    left: 500px;
    border: 5px solid black;
    background: blue;
    border-radius: 5px;
}

.timer {
    position: absolute;
    top: 570px;
    left: 550px;
    font: bold 35px Arial, sans-serif;
    background: blue;
    border-radius: 10px;
    width: 120px;
    height: 55px;
    text-align: center;
    padding-top: 15px;
}

.click-counter {
    font: bold 35px Arial, sans-serif;
    text-align: center;
    border-radius: 10px;
    padding-top: 15px;
    position: absolute;
    top: 570px;
    left: 800px;
    width: 120px;
    height: 55px;
    background: blue;
}